@mixin app-root ($theme) {
    $primary: map-get($theme, primary);
    app-root {
        .container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: table;
        }
        .content {
            padding-left: 20px;
            display: table-cell;
        }
        .toolbar {
            align-items: top;
            width: 100%;
            padding: 0 0;
            background: mat-color($primary);
        }
        .menu {
            height: 100%;
            background: mat-color($primary);
            width: 150px;
            display: table-cell;
        }
    }
}