<h2>Editar Articulo</h2>

<form *ngIf="!articulo">
    <div class="form-group">
        <label for="articleId">Id Artículo</label>
        <input class="form-control" [class.is-invalid]="hasError('articleId')" id="articleId" [formControl]="articleId">
        <div *ngIf="hasError('articleId')" class="invalid-feedback">{{getErrorText('articleId')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="buscar() ">Buscar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
<BR>

<form [formGroup]="form" *ngIf="articulo">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" [class.is-invalid]="hasError('name')" id="name" formControlName="name">
        <div *ngIf="hasError('name')" class="invalid-feedback">{{getErrorText('name')}}</div>
    </div>

    <div class="form-group">
        <label for="description">Descripción</label>
        <input class="form-control" [class.is-invalid]="hasError('description')" id="description" formControlName="description">
        <div *ngIf="hasError('description')" class="invalid-feedback">{{getErrorText('description')}}</div>
    </div>

    <div class="form-group">
        <app-file-upload allowedTypes="image/*" uploadButtonText="Upload File" formControlName="image" (ngModelChange)="updateImage($event)">
        </app-file-upload>
        <div *ngIf="hasError('image')" class="invalid-feedback">{{getErrorText('image')}}</div>
    </div>

    <div class="form-group">
        <label for="price">Precio</label>
        <input class="form-control" [class.is-invalid]="hasError('price')" id="price" formControlName="price">
        <div *ngIf="hasError('price')" class="invalid-feedback">{{getErrorText('price')}}</div>
    </div>

    <div class="form-group">
        <label for="stock">Stock</label>
        <input class="form-control" [class.is-invalid]="hasError('stock')" id="stock" formControlName="stock">
        <div *ngIf="hasError('stock')" class="invalid-feedback">{{getErrorText('stock')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() " [disabled]="form.invalid ">Guardar</button>
        <button class="btn btn-danger " (click)="eliminar() ">Eliminar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>