<h2>Búsqueda de Artículos</h2>


<form [formGroup]="form">
    <div class="form-group">
        <label for="filter">Buscar</label>
        <input class="form-control" [class.is-invalid]="hasError('filter')" id="filter" formControlName="filter">
        <div *ngIf="hasError('filter')" class="invalid-feedback">{{getErrorText('filter')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() ">Buscar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
<BR>

<table class="table" *ngIf="articles" style="margin-top: 20px">
    <thead>
        <tr>
            <th> Id </th>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Imagen </th>
            <th> Stock </th>
            <th> Precio </th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let element of articles">
            <td> {{element._id}} </td>
            <td> {{element.name}} </td>
            <td> {{element.description}} </td>
            <td> {{element.image}}
                <a *ngIf="element.image" [routerLink]="['/load_image/'+element.image]">
                    <img src="/assets/find.png" />
                </a>
            </td>
            <td> {{element.stock}} </td>
            <td> {{element.price}} </td>
            <td>
                <a [routerLink]="['/edit_article/'+element._id]">
                    <img src="/assets/edit.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
