<div class="navbar-nav bg-light shadow" style="height:100%; display:inline-flex; padding-top: 20px; padding-right: 30px" *ngIf="!usuarioLogueado">
	<h6 style="padding-left: 10px;padding-top: 10px;">Sesión</h6>
	<a [routerLink]="['/login']" class="btn btn-sm btn-link" style="text-align: left">Login</a>
	<a [routerLink]="['/registrarse']" class="btn btn-sm btn-link" style="text-align: left">Registrarse</a>
</div>

<div class="navbar-nav bg-light shadow" style="height:100%; display:inline-flex; padding-top: 20px; padding-right: 30px" *ngIf="usuarioLogueado">
	<h6 style="padding-left: 10px;padding-top: 10px;">{{usuarioLogueado.name}}</h6>
	<a [routerLink]="['/info']" class="btn btn-sm btn-link" style="text-align: left">Info</a>
	<a [routerLink]="['/password']" class="btn btn-sm btn-link" style="text-align: left">Password</a>
	<a [routerLink]="" (click)="logout()" class="btn btn-sm btn-link" style="text-align: left">Logout</a>

	<h6 style="padding-left: 10px;padding-top: 10px;">Adm Tools</h6>
	<a [routerLink]="['/users']" class="btn btn-sm btn-link" style="text-align: left">Usuarios</a>

	<h6 style="padding-left: 10px;padding-top: 10px;">Imágenes</h6>
	<a [routerLink]="['/new_image']" class="btn btn-sm btn-link" style="text-align: left">Nueva</a>
	<a [routerLink]="['/load_image']" class="btn btn-sm btn-link" style="text-align: left">Buscar</a>

	<h6 style="padding-left: 10px;padding-top: 10px;">Artículos</h6>
	<a [routerLink]="['/edit_article/new']" class="btn btn-sm btn-link" style="text-align: left">Nuevo</a>
	<a [routerLink]="['/list_articles']" class="btn btn-sm btn-link" style="text-align: left">Listado</a>
	<a [routerLink]="['/edit_article']" class="btn btn-sm btn-link" style="text-align: left">Editar</a>

	<h6 style="padding-left: 10px;padding-top: 10px;">Carrito</h6>
	<a [routerLink]="['/current_cart']" class="btn btn-sm btn-link" style="text-align: left">Carrito Actual</a>
	<a [routerLink]="['/add_article_cart']" class="btn btn-sm btn-link" style="text-align: left">Editar Carrito</a>

	<h6 style="padding-left: 10px;padding-top: 10px;">Ordenes</h6>
	<a [routerLink]="['/orders']" class="btn btn-sm btn-link" style="text-align: left">Ordenes</a>
	<a [routerLink]="['/order_details']" class="btn btn-sm btn-link" style="text-align: left">Buscar</a>

</div>
