
<mat-list role="list">
	<mat-list-item role="listitem" *ngIf="!usuarioLogueado">Sesion</mat-list-item>
	<mat-list-item role="listitem" *ngIf="!usuarioLogueado"><a mat-button [routerLink]="['/login']">Login</a></mat-list-item>
	<mat-list-item role="listitem" *ngIf="!usuarioLogueado"><a mat-button [routerLink]="['/registrarse']">Registrarse</a></mat-list-item>

	<mat-list-item role="listitem" *ngIf="usuarioLogueado">{{usuarioLogueado.name}}</mat-list-item>
	<mat-list-item role="listitem" *ngIf="usuarioLogueado"><a mat-button [routerLink]="['/info']">Info</a></mat-list-item>
	<mat-list-item role="listitem" *ngIf="usuarioLogueado"><a mat-button [routerLink]="" (click)="logout()">Logout</a></mat-list-item>

	<mat-list-item role="listitem" *ngIf="usuarioLogueado">Imagenes</mat-list-item>
	<mat-list-item role="listitem" *ngIf="usuarioLogueado"><a mat-button [routerLink]="['/new_image']">Nueva</a></mat-list-item>

</mat-list>
