<h1>Perfil</h1>

<form novalidate>
    <div class="form-group">
        <label>Id:</label>

        <div style='padding: 3px; width: 70%; word-break: break-all; word-wrap: break-word;'>
            {{usuarioLogueado.id}}
        </div>
    </div>
    <div class="form-group">
        <label>Nombre:</label>

        <div style='padding: 3px; width: 70%; word-break: break-all; word-wrap: break-word;'>
            {{usuarioLogueado.name}}
        </div>
    </div>
    <div class="form-group">
        <label>Login:</label>

        <div style='padding: 3px; width: 70%; word-break: break-all; word-wrap: break-word;'>
            {{usuarioLogueado.login}}
        </div>
    </div>
    <div class="form-group">
        <label>Roles:</label>

        <div style='padding: 3px; width: 70%; word-break: break-all; word-wrap: break-word;'>
            {{usuarioLogueado.roles}}
        </div>
    </div>

    <div class="form-group">
        <label>Token:</label>

        <div style='padding: 3px; width: 70%; word-break: break-all; word-wrap: break-word;'>
            {{token}}
        </div>
    </div>

    <button class="btn btn-default" [routerLink]="['/']">Cerrar</button>
</form>