<h2>Perfil</h2>

<form>
    <mat-form-field>
        <input matInput placeholder="Id" [value]="usuarioLogueado.id" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre" [value]="usuarioLogueado.name" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Login" [value]="usuarioLogueado.login" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Roles" [value]="usuarioLogueado.roles" readonly>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Token" [value]="token" rows="6" readonly></textarea>
    </mat-form-field>
</form>