<h2>Login</h2>

<form [formGroup]="form">

    <mat-form-field class="full-width">
        <input matInput placeholder="Usuario" formControlName="login" />

        <mat-error *ngIf="form.get('login')?.invalid">
            {{ errors.get('login') ? errors.get('login') : "Valor no v&aacute;lido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password" type="password" />

        <mat-error *ngIf="form.get('password')?.invalid">
            {{ errors.get('password') ? errors.get('password') : "Valor no v&aacute;lido." }}
        </mat-error>
    </mat-form-field>

    <div class="full-width">
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
        </mat-error>
        <button mat-button color="primary" (click)="submitForm()" [disabled]="form.invalid">Login</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>