<h2>Cambiar Contraseña</h2>

<form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Login" formControlName="login" readonly/>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password Actual" formControlName="currentPassword" type="password" />

        <mat-error *ngIf="form.get('currentPassword')?.invalid">
            {{ errors.get('currentPassword') ? errors.get('currentPassword') : "Valor no válido." }}
        </mat-error>

        <mat-error *ngIf="errors.get('currentPassword')">{{errors.currentPassword}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nuevo Password" formControlName="newPassword" type="password" />

        <mat-error *ngIf="form.get('newPassword')?.invalid">
            {{ errors.get('newPassword') ? errors.get('newPassword') : "Valor no válido." }}
        </mat-error>

        <mat-error *ngIf="errors.get('newPassword')">{{errors.newPassword}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Repetir" formControlName="newPassword1" type="password" />

        <mat-error *ngIf="form.get('newPassword1')?.invalid">
            {{ errors.get('newPassword1') ? errors.get('newPassword1') : "Valor no válido." }}
        </mat-error>

    </mat-form-field>

    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="submitForm()" [disabled]="form.invalid">Cambiar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>