@import '../node_modules/@angular/material/theming';

@import './app/toolbar/toolbar.theme';
@import './app/menu/menu.theme';
@import './app/root.theme';

// Styles for the docs app that are based on the current theme.
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  body {
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
  }

  .docs-app-background {
    background: mat-color($background, background);
  }

  .docs-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  mat-form-field {
    width: 80%;
  }

  mat-table, table {
    width: 90%;
  }

  mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-left: 20px;
  }

  @include app-toolbar($theme);
  @include app-menu($theme);
  @include app-root($theme);
}
