<h2>Artículo</h2>

<form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Id" formControlName="articleId" />

        <mat-error *ngIf="form.get('articleId').invalid">
            {{ errors.get('articleId') ? errors.get('articleId') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cantidad" formControlName="quantity" />

        <mat-error *ngIf="form.get('quantity').invalid">
            {{ errors.get('quantity') ? errors.get('quantity') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="addArticle()">Agregar</button>
        <button mat-button color="primary" (click)="incrementArticle()">Incrementar</button>
        <button mat-button color="primary" (click)="decrementArticle()">Decrementar</button>
        <button mat-button color="warn" (click)="deleteArticle()">Eliminar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>
<BR>

<app-current-cart [currentCart]="currentCart"></app-current-cart><BR>
