<h2>Artículo</h2>

<form [formGroup]="form">
    <div class="form-group">
        <label for="articleId">Id Artículo</label>
        <input class="form-control" [class.is-invalid]="hasError('articleId')" id="articleId" formControlName="articleId">
        <div *ngIf="hasError('articleId')" class="invalid-feedback">{{getErrorText('articleId')}}</div>
    </div>

    <div class="form-group">
        <label for="quantity">Cantidad</label>
        <input class="form-control" [class.is-invalid]="hasError('quantity')" id="quantity" formControlName="quantity">
        <div *ngIf="hasError('quantity')" class="invalid-feedback">{{getErrorText('quantity')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="addArticle() " [disabled]="form.invalid ">Agregar</button>
        <button class="btn btn-primary " (click)="incrementArticle() " [disabled]="form.invalid ">Incrementar</button>
        <button class="btn btn-primary " (click)="decrementArticle() " [disabled]="form.invalid ">Decrementar</button>
        <button class="btn btn-danger " (click)="deleteArticle() " [disabled]="form.invalid ">Eliminar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
<BR>

<app-current-cart [currentCart]="currentCart"></app-current-cart>
