<h2>Carrito Actual</h2>

<form *ngIf="currentCart">
    <div class="form-group form-inline">
        <label for="_id" class="mr-sm-2" >Id Carrito</label>
        <input class="form-control form-control-sm" id="_id" [value]="currentCart._id" readonly>
    </div>

    <div class="form-group form-inline mr-sm-2">
        <label for="userId" class="mr-sm-2" >Id Usuario</label>
        <input class="form-control form-control-sm" id="userId" [value]="currentCart.userId" readonly>
    </div>

    <div class="form-group">
        <label for="articles">Artículos</label>

        <table id="articles" class="table">

            <head>
                <tr>
                    <th> Id </th>
                    <th> Cantidad </th>
                    <th> Validado </th>
                </tr>
            </head>
            <tbody>
                <tr *ngFor="let element of currentCart.articles">
                    <td> {{element.articleId}} </td>
                    <td> {{element.quantity}} </td>
                    <td> {{element.validated}} </td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group ">
            <div *ngIf="errorMessage">{{errorMessage}}</div>
            <button class="btn btn-primary " (click)="validate()">Validar</button>
            <button class="btn btn-primary " (click)="checkout()">Checkout</button>
            <button class="btn btn-primary " (click)="refresh()">Refresh</button>
            <button class="btn btn-light " [routerLink]="['/']">Cancelar</button>
        </div>
    </div>
</form>

{{validation | json}}

<div *ngIf="errorMessage">{{errorMessage}}</div>