<h2>Ordenes</h2>

<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> CartId </th>
            <th> Estado </th>
            <th> Precio Total </th>
            <th> Pago Total </th>
            <th> Creada </th>
            <th> Ultima Act. </th>
            <th> Artículos </th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let element of orders">
            <td> {{element.id}} </td>
            <td> {{element.cartId}} </td>
            <td> {{element.status}} </td>
            <td> {{element.totalPrice}} </td>
            <td> {{element.totalPayment}} </td>
            <td> {{element.created}} </td>
            <td> {{element.updated}} </td>
            <td> {{element.articles}} </td>
            <td>
                <a [routerLink]="['/order_details/'+element.id]">
                    <img src="/assets/find.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
<BR>

<div class="btn-group ">
    <button class="btn btn-primary " (click)="getOrders()">Actualizar</button>
    <button class="btn btn-primary " (click)="batchPlaced()">Batch PLACED</button>
    <button class="btn btn-primary " (click)="batchValidated()">Batch VALIDATED</button>
    <button class="btn btn-primary " (click)="batchPaymentDefined()">Batch PAYMENT_DEFINED</button>
</div>
