<h2>Detalle de Orden</h2>

<form #f="ngForm" novalidate>
    <mat-form-field>
        <input matInput placeholder="Order Id" [formControl]="orderId" />

        <mat-error *ngIf="orderId?.invalid">
            {{ errors.get('orderId') ? errors.get('orderId') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>
    <div>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
            <BR>
        </mat-error>
        <button mat-button color="primary" (click)="submitForm()">Buscar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cerrar</button>
    </div>
    <BR>
</form>

<form *ngIf="order">
    <mat-form-field>
        <input matInput placeholder="Id" [value]="order.id" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cart Id" [value]="order.cartId" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Estado" [value]="order.status" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Importe Total" [value]="order.totalPrice" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Pago Total" [value]="order.totalPayment" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Creada" [value]="order.created" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Actualizada" [value]="order.updated" readonly>
    </mat-form-field>

    <h2>Artículos</h2>

    <table mat-table [dataSource]="order.articles" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="unitaryPrice">
            <th mat-header-cell *matHeaderCellDef> Precio Unit. </th>
            <td mat-cell *matCellDef="let element"> {{element.unitaryPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="valid">
            <th mat-header-cell *matHeaderCellDef> Valido </th>
            <td mat-cell *matCellDef="let element"> {{element.valid}} </td>
        </ng-container>

        <ng-container matColumnDef="validated">
            <th mat-header-cell *matHeaderCellDef> Validado </th>
            <td mat-cell *matCellDef="let element"> {{element.validated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'quantity', 'unitaryPrice', 'valid', 'validated']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'quantity', 'unitaryPrice', 'valid', 'validated'];"></tr>
    </table>

    <h2>Pagos</h2>

    <table mat-table [dataSource]="order.payment" class="mat-elevation-z8">
        <ng-container matColumnDef="method">
            <th mat-header-cell *matHeaderCellDef> Metodo </th>
            <td mat-cell *matCellDef="let element"> {{element.method}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Import </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['method', 'amount']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['method', 'amount'];"></tr>
    </table>

    <BR>
    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="addPayment()">Agregar Pago</button>
        <button mat-button color="primary" (click)="submitForm()">Actualizar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>


<form #f="ngForm" novalidate *ngIf="payment">
    <mat-form-field>
        <input matInput placeholder="Metodo" [formControl]="method" />

        <mat-error *ngIf="method?.invalid">
            {{ errors.get('method') ? errors.get('method') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Import" [formControl]="amount" />

        <mat-error *ngIf="amount?.invalid">
            {{ errors.get('amount') ? errors.get('amount') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <div>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
            <BR>
        </mat-error>
        <button mat-button color="primary" (click)="paymentSubmit()">Agregar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cerrar</button>
    </div>
    <BR>
</form>

