<h2>Detalle de Orden</h2>

<form [formGroup]="form">
    <div class="form-group">
        <label for="orderId">Order Id</label>
        <input class="form-control" [class.is-invalid]="hasError('orderId')" id="orderId" formControlName="orderId">
        <div *ngIf="hasError('orderId')" class="invalid-feedback">{{getErrorText('orderId')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() ">Buscar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
<br>

<form *ngIf="order">
    <div class="form-group form-inline">
        <h4>Detalle de Orden : {{order.id}}</h4>
    </div>

    <div class="form-group form-inline">
        <label for="cartId" class="mr-sm-2">Cart Id</label>
        <input class="form-control form-control-sm" id="cartId" [value]="order.cartId" readonly>
    </div>

    <div class="form-group form-inline">
        <label for="status" class="mr-sm-2">Estado</label>
        <input class="form-control form-control-sm" id="status" [value]="order.status" readonly>
    </div>

    <div class="form-group form-inline">
        <label for="totalPrice" class="mr-sm-2">Importe Total</label>
        <input class="form-control form-control-sm" id="totalPrice" [value]="order.totalPrice" readonly>
    </div>

    <div class="form-group form-inline">
        <label for="totalPayment" class="mr-sm-2">Pago Total</label>
        <input class="form-control form-control-sm" id="totalPayment" [value]="order.totalPayment" readonly>
    </div>

    <div class="form-group form-inline">
        <label for="created" class="mr-sm-2">Creada</label>
        <input class="form-control form-control-sm" id="created" [value]="order.created" readonly>
    </div>

    <div class="form-group form-inline">
        <label for="updated" class="mr-sm-2">Actualizada</label>
        <input class="form-control form-control-sm" id="updated" [value]="order.updated" readonly>
    </div>

    <BR>
    <h4>Artículos</h4>
    <table>
        <thead>
            <tr>
                <th> Id </th>
                <th> Cantidad </th>
                <th> Precio Unit. </th>
                <th> Valido </th>
                <th> Validado </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let element of order.articles">
                <td> {{element.id}} </td>
                <td> {{element.quantity}} </td>
                <td> {{element.unitaryPrice}} </td>
                <td> {{element.valid}} </td>
                <td> {{element.validated}} </td>
            </tr>
        </tbody>
    </table>

    <BR>
    <h4>Pagos</h4>
    <table>
        <thead>
            <tr>
                <th> Método </th>
                <th> Import </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of order.payment">
                <td> {{element.method}} </td>
                <td> {{element.amount}} </td>
            </tr>
        </tbody>
    </table>

    <BR>
    <div class="btn-group ">
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button class="btn btn-primary " (click)="addPayment()">Agregar Pago</button>
        <button class="btn btn-primary " (click)="submitForm()">Actualizar</button>
        <button class="btn btn-light " [routerLink]="['/']">Cancelar</button>
    </div>
</form>
<BR>

<form [formGroup]="form" *ngIf="payment">
    <div class="form-group form-inline">
        <h4>Agregar Pago</h4>
    </div>

    <div class="form-group">
        <label for="method">Método</label>
        <input class="form-control" [class.is-invalid]="hasError('method')" id="method" formControlName="method">
        <div *ngIf="hasError('method')" class="invalid-feedback">{{getErrorText('method')}}</div>
    </div>

    <div class="form-group">
        <label for="amount">Importe</label>
        <input class="form-control" [class.is-invalid]="hasError('amount')" id="amount" formControlName="amount">
        <div *ngIf="hasError('amount')" class="invalid-feedback">{{getErrorText('amount')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="paymentSubmit() ">Agregar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
