<h2>Buscar Imagen</h2>

<form #f="ngForm" novalidate>
    <mat-form-field>
        <input matInput placeholder="Imagen Id" [formControl]="imagenId" />

        <mat-error *ngIf="imagenId?.invalid">
            {{ errors.get('_id') ? errors.get('_id') : "Valor no v&aacute;lido." }}
        </mat-error>
    </mat-form-field>
    <div>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
            <BR>
        </mat-error>
        <button mat-button color="primary" (click)="submitForm()">Buscar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cerrar</button>
    </div>
    <BR>

    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="160"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="320"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="640"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="800"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="1024"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada' [calidad]="1200"></app-show-image>
    <app-show-image *ngIf="imagenBuscada" [imagenId]='imagenBuscada'></app-show-image>

</form>