<h2>Perfil</h2>

<form>
    <mat-form-field>
        <input matInput placeholder="Id" [value]="loggedInUser.id" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre" [value]="loggedInUser.name" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Login" [value]="loggedInUser.login" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Permisos" [value]="loggedInUser.permissions" readonly>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Token" [value]="token" rows="6" readonly></textarea>
    </mat-form-field>
</form>