<h2>Registrar Usuario</h2>

<form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Login" formControlName="login" />

        <mat-error *ngIf="form.get('login')?.invalid">
            {{ errors.get('login') ? errors.get('login') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name" />

        <mat-error *ngIf="form.get('name')?.invalid">
            {{ errors.get('name') ? errors.get('name') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" />

        <mat-error *ngIf="form.get('password')?.invalid">
            {{ errors.get('password') ? errors.get('password') : "Valor no válido." }}
        </mat-error>

        <mat-error *ngIf="errors.get('password')">{{errors.password}}</mat-error>
    </mat-form-field>

    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="submitForm()" [disabled]="form.invalid">Registrar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>