<h2>Editar Articulo</h2>

<form>
    <mat-form-field>
        <input matInput placeholder="Id" [formControl]="articleId" />

        <mat-error *ngIf="articleId.invalid">
            {{ errors.get('articleId') ? errors.get('articleId') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>
    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="buscar()">Buscar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>
<BR>

<form [formGroup]="form" *ngIf="articulo">

    <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name" />

        <mat-error *ngIf="form.get('name')?.invalid">
            {{ errors.get('name') ? errors.get('name') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descripción" formControlName="description" />

        <mat-error *ngIf="form.get('description')?.invalid">
            {{ errors.get('description') ? errors.get('description') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <app-mat-file-upload matInput placeholder="Imagen" allowedTypes="image/*" uploadButtonText="Upload File" formControlName="image"
            (ngModelChange)="updateImage($event)">
        </app-mat-file-upload>

        <mat-error *ngIf="form.get('image')?.invalid">
            {{ errors.get('image') ? errors.get('image') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Precio" formControlName="price" />

        <mat-error *ngIf="form.get('price')?.invalid">
            {{ errors.get('price') ? errors.get('price') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Stock" formControlName="stock" />

        <mat-error *ngIf="form.get('stock')?.invalid">
            {{ errors.get('stock') ? errors.get('stock') : "Valor no válido." }}
        </mat-error>
    </mat-form-field>

    <div>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <button mat-button color="primary" (click)="submitForm()" [disabled]="form.invalid">Guardar</button>
        <button mat-button color="warn" (click)="eliminar()">Eliminar</button>
        <button mat-button color="disabled" [routerLink]="['/']">Cancelar</button>
    </div>
</form>