<h2>Buscar Imagen</h2>

<form [formGroup]="form">
    <div class="form-group">
        <label for="imageId">Imagen Id</label>
        <input class="form-control" [class.is-invalid]="hasError('imageId')" id="imageId" formControlName="imageId">
        <div *ngIf="hasError('_id')" class="invalid-feedback">{{getErrorText('_id')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() ">Buscar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>

    <BR>

    <div *ngIf="imageFounded" style="margin-top: 40px">
        <app-show-image [imageId]='imageFounded' [quality]="160" [jpeg]="true"></app-show-image>
        <app-show-image [imageId]='imageFounded' [quality]="320" [jpeg]="true"></app-show-image>
        <app-show-image [imageId]='imageFounded' [quality]="640"></app-show-image>
        <app-show-image [imageId]='imageFounded' [quality]="800"></app-show-image>
        <app-show-image [imageId]='imageFounded' [quality]="1024"></app-show-image>
        <app-show-image [imageId]='imageFounded' [quality]="1200"></app-show-image>
        <app-show-image [imageId]='imageFounded'></app-show-image>
    </div>
</form>