<h2>Agregar Imagen</h2>

<form>
    <div class="form-group">
        <app-file-upload name="image" allowedTypes="image/*" uploadButtonText="Upload File" [ngModel]="showing" (ngModelChange)="updateImage($event)">
        </app-file-upload>

        <div *ngIf="hasError('login')" class="invalid-feedback">{{getErrorText('login')}}</div>
    </div>

    <div>{{image.id}}</div>


    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() ">Guardar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>