@mixin app-toolbar($theme) {
    $primary: map-get($theme, primary);

    app-toolbar {
      color: mat-color($primary, default-contrast);

      .docs-navbar, .docs-navbar-header {
        background: mat-color($primary);
      }

      .docs-navbar-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
      }

      .flex-spacer {
        flex-grow: 1;
      }
    }
  }

