.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(240, 240, 240);
  }

  .content {
    background: rgb(255, 255, 255);
  }

  .content-div {
    padding-left: 30px;
  }

  .close-button {
    position: fixed;
    background: rgb(255, 255, 255);
    left: 0;
  }