<h2>Perfil</h2>
<form>
    <div class="form-group">
        <label for="id">Id</label>
        <input class="form-control" id="id" [value]="loggedInUser.id" readonly>
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input class="form-control" id="login" [value]="loggedInUser.login" readonly>
    </div>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" id="name" [value]="loggedInUser.name" readonly>
    </div>
    <div class="form-group">
        <label for="login">Permisos</label>
        <input class="form-control" id="login" [value]="loggedInUser.permissions" readonly>
    </div>
    <div class="form-group">
        <label for="token">Token</label>
        <textarea class="form-control" id="token" placeholder="Token" [value]="token" rows="6" readonly></textarea>
    </div>
</form>