<h2>Registrar Usuario</h2>

<form [formGroup]="form">
    <div class="form-group">
        <label for="login">Login</label>
        <input class="form-control" [class.is-invalid]="hasError('login')" id="login" formControlName="login">
        <div *ngIf="hasError('login')" class="invalid-feedback">{{getErrorText('login')}}</div>
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" [class.is-invalid]="hasError('name')" id="name" formControlName="name">
        <div *ngIf="hasError('name')" class="invalid-feedback">{{getErrorText('name')}}</div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" [class.is-invalid]="hasError('password')" id="password" formControlName="password" type="password">
        <div *ngIf="hasError('password')" class="invalid-feedback">{{getErrorText('password')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() " [disabled]="form.invalid ">Registrar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>