<h2>Cambiar Contraseña</h2>

<form [formGroup]="form">
    <div class="form-group">
        <label for="login">Login</label>
        <input class="form-control" id="login" formControlName="login" readonly/>
    </div>

    <div class="form-group">
        <label for="currentPassword">Password Actual</label>
        <input class="form-control" [class.is-invalid]="hasError('password')" id="currentPassword" formControlName="currentPassword" type="password">
        <div *ngIf="hasError('password')" class="invalid-feedback">{{getErrorText('password')}}</div>
    </div>

    <div class="form-group">
        <label for="newPassword">Nuevo Password</label>
        <input class="form-control" [class.is-invalid]="hasError('newPassword')" id="newPassword" formControlName="newPassword" type="password">
        <div *ngIf="hasError('newPassword')" class="invalid-feedback">{{getErrorText('newPassword')}}</div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="newPassword1">Repetir</label>
        <input class="form-control" [class.is-invalid]="hasError('newPassword1')" id="newPassword1" formControlName="newPassword1"
            type="password">
        <div *ngIf="hasError('newPassword1')" class="invalid-feedback">{{getErrorText('newPassword1')}}</div>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="submitForm() " [disabled]="form.invalid ">Cambiar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>