<h2>Admin. de Usuarios</h2>

<table class="table">
    <thead>

        <tr>
            <th> Id </th>
            <th> Login </th>
            <th> Nombre </th>
            <th> Permisos </th>
            <th> Habilitado </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let element of users">
            <td> {{element.id}} </td>
            <td> {{element.login}} </td>
            <td> {{element.name}} </td>
            <td>
                {{element.permissions}}
                <a *ngIf="element.enabled" [routerLink]="" (click)="editarPermisos(element)">
                    <img src="/assets/edit.png" />
                </a>
            </td>
            <td>
                {{element.enabled}}
                <a *ngIf="element.enabled" [routerLink]="" (click)="disableUser(element.id)">
                    <img src="/assets/disable.png" />
                </a>
                <a *ngIf="!element.enabled" [routerLink]="" (click)="enableUser(element.id)">
                    <img src="/assets/enable.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="errorMessage">{{errorMessage}}</div>
<BR>

<form [formGroup]="form" *ngIf="editPermisos">
    <div class="form-group">
        <label for="permisos">Permisos de {{editPermisos.login}}</label>
        <input class="form-control" id="login" formControlName="permisos" />
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>

    <div class="btn-group ">
        <button class="btn btn-primary " (click)="grantPermisos()">Asignar</button>
        <button class="btn btn-danger " (click)="revokePermisos()">Quitar</button>
        <button class="btn btn-light " [routerLink]="[ '/'] ">Cancelar</button>
    </div>
</form>
